.wrapper {
	max-width: 100%;
	background-color: hsl(0, 0%, 100%);
	width: 100vw;
	margin: 0px 0px 40px 0px;
}

.title {
	font-size: 15px;
	font-weight: bold;
	margin: 40px 0;
}

.detailBox {
	background: white;
	border-radius: 8px;
	border: 0.5px solid rgb(230, 230, 252);
	margin: 24px;
	overflow: hidden;
}

.detailh3 {
	font-family: 'inter';
	font-style: normal;
	font-weight: 800;
	font-size: 14px;
	color: #0a0903;
	padding: 0;
	margin: 0;
}
.detailBoxCorner {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 50px;
	padding-left: 20px;
	background: #ebebeb;
}

.customerInfo {
	display: flex;
	align-items: flex-start;
	flex-direction: column;
	justify-content: flex-start;
	padding: 34px 0px;
}

.detailsValue {
	font-family: 'inter';
	font-style: normal;
	font-weight: 700;
	font-size: 10px;
	line-height: 16px;
	letter-spacing: 0.01em;
	text-transform: uppercase;
	color: #5c5b57;
}

.detailsKey {
	font-family: 'inter';
	font-style: normal;
	font-weight: 500;
	font-size: 16px;
	line-height: 24px;
	color: #0a0903;
}
