.container {
	width: 100%;
	margin: 0 auto;
}

.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 40px;
	margin-top: 30px;
}

.maintable {
	padding: 0 40px;
	margin: 24px 0;
}

.header_left {
}

.header_left_h1 {
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	line-height: 23px;
	color: #333333;
}

.header_right {
	display: flex;
	align-items: center;
}

.selectwrapper {
	display: flex;
	justify-content: center;
	align-items: center;
	background: #e0e0e0;
	border-radius: 4px;
	width: 131px;
	height: 32px;
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 16px;
}

.button_business {
	margin-left: 16px;
}

.button_business_button {
	display: flex;
	justify-content: center;
	align-items: center;
	background: #27ae60;
	border-radius: 4px;
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 16px;
	letter-spacing: 0.0024px;
	color: #ffffff;
	border: none;
	outline: none;
	width: 131px;
	height: 32px;
	cursor: pointer;
}

.button_business_span {
}

.tableSpan {
	padding: 3px 29px;
	border-radius: 1.5px;
	font-size: 12px;
	color: white;
}

.wrapper {
	font-size: 12px;
	box-shadow: 0px -0.65px 0px rgba(75, 112, 154, 0.18);
	border-radius: 2px 2px 8px 8px;
}

.tableVertIcon {
	display: flex;
	align-items: center;
}

.tableVertIcon:hover {
	background-color: rgba(255, 255, 255, 0.16);
}
.icons {
	margin: 0 5px;
}
.account_wrap {
	margin: 20px 50px;
}

.account_h1 {
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 400;
	font-size: 18px;
	line-height: 21px;
	/* identical to box height */

	color: #828282;
}

.removeModal {
	margin-top: 40px;
	width: 100%;
}

.removeModal_p {
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	line-height: 22px;
	color: #333333;
}

.buttonModalwrap {
	margin: 30px 20px;
}
.buttonModal {
	display: flex;
	align-items: center;
	justify-content: flex-end;
	width: 100%;
}
.cancelModal {
	width: 100px;
	height: 30.76px;
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 500;
	font-size: 14px;
	line-height: 26px;
	text-align: center;
	color: #ffffff;
	background: #333333;
	border: 1.28183px solid #333333;
	border-radius: 3.8455px;
}
.removeModal {
	width: 100px;
	height: 30.76px;
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 500;
	font-size: 14px;
	line-height: 26px;
	text-align: center;
	color: #ffffff;
	background: #27ae60;
	border: 1.28183px solid #27ae60;
	border-radius: 3.8455px;
	margin-left: 20px;
	cursor: pointer;
}
