.generalFourReuse {
	width: 419px;
	min-height: 585px;
	// overflow: hidden;
	-ms-overflow-style: none;
	scrollbar-width: none; /* Firefox */

	&::-webkit-scrollbar {
		display: none;
	}
}
.generalh3 {
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	line-height: 21px;
	padding: 0;
	margin: 0;
	padding: 22px 0px 27px 50px;
	color: #000000;
	font-weight: 800;
}

.selectinput {
	padding: 27px 50px 40px 50px;
}

.span {
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 16px;

	color: #333333;
}
