.signupContainer {
    height: 100vh;
    width: 100%;
    background-color: rgba(239, 243, 248, 1);
    margin: 0 auto;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 2rem;
}

.signupDiv {
    border: 1px solid transparent;
    max-width: 1150px;
    width: 100%;
    margin: 0 auto;
    background-color: #fff;
    padding: 2rem 4rem 2rem 4rem;
    background: #FFFFFF;
    box-shadow: 0px 4px 14px rgba(15, 49, 32, 0.15);
    border-radius: 6px;    
}

.signupList {
    display: flex;
}

.desc {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    overflow: hidden;
    width: 75%;
    color: #8B8B8B;
    // line-break: auto;
}

.title {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 19px;
    color: #414141;
}

.formTitle {
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    color: #414141;
}


.header {
    font-style: normal;
    font-weight: 300;
    font-size: 30px;
    line-height: 35px;
    color: #333333;
    margin-bottom: 1.5rem;
}

.mt1 {
    margin-top: 1rem;
}


.sub {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.subP {
    color: #8B8B8B;
}

.formSub {
    font-size: smaller;
    margin-top: 1rem;
}

@media only screen and (max-width: 600px) {
    .signupDiv {
        padding: 2rem;
    }

    .signupContainer {
        height: auto;
    }
}